@font-face {
	font-family: "BodyFont";
	src: url("fonts/OpenSans-Regular.ttf");
}

@font-face {
	font-family: "MenuFont";
	src: url("fonts/Montserrat-Light.ttf");
}

body{
	font-family:'BodyFont';
	position:relative;
}

main {
	width: 1000px;
	margin: 0 auto 0 auto;
	background: white;
}

header {
	height: 310px;
}

a {
	padding-bottom:15px;
	padding-top: 10px;
	padding-left:30px;
	padding-right:30px;
	margin:-30px;
	text-transform:uppercase;
	font-family: 'MenuFont';
	text-decoration: none;
	color:black;
}

nav {
	margin:-10px;
	box-shadow: 0 0 3px #000000;
	background-color:white;
    text-align: center;
	border-radius:3em;
	list-style-type: none;
  }

nav li {
	font-size:22px;
	width:150px;
	position:relative;
	padding:10px;
	display: inline-block;
}

nav ul li ul {
	box-shadow: 0 0 10px #000000;
	background: linear-gradient(0deg, rgba(107,255,216,1) 0%, rgba(147,227,255,1) 100%);
	position: absolute;
	padding:1px;
	margin-top:2px;
	margin-left:-10px;
	top:102%;
	border-radius:10px;
	display: none;
}

#back1{
	text-align: center;
}

#back2 {
	font-size:20px;
	padding:15px;
	background: linear-gradient(0deg, rgba(103,255,170,1) 0%, rgba(2,237,181,1) 100%);
	border-radius:10px;
	box-shadow: 0 0 2px #000000;
}

#back2:hover{
	box-shadow:inset 0 0 5px #000000;
	background: linear-gradient(0deg, rgba(147,220,255,1) 0%, rgba(0,246,185,1) 100%);
    transition: all 300ms cubic-bezier(0.25, 0.50, 0.75, 1);
}

.btn:hover {
	border-radius:10px;
	box-shadow:inset 0 0 5px #000000;
	background: linear-gradient(0deg, rgba(147,220,255,1) 0%, rgba(0,246,185,1) 100%);
    transition: all 300ms cubic-bezier(0.25, 0.50, 0.75, 1);
}

.btn:hover ul{
	display:block;
}

.btnsub {
	border-radius:10px;
}

.btnsub:hover {
	transition: all 300ms cubic-bezier(0.25, 0.50, 0.75, 1);
	box-shadow:inset 0 0 5px #000000;
	background: linear-gradient(0deg, rgba(103,255,170,1) 0%, rgba(2,237,181,1) 100%);
}

.current {
	border-radius:10px;
	box-shadow:inset 0 0 5px #000000;
	background: linear-gradient(0deg, rgba(255,107,157,1) 0%, rgba(255,147,147,1) 100%);
}

.btn:active, .btnsub:active, #back2:active {
	background: linear-gradient(0deg, rgba(255,107,157,1) 0%, rgba(255,147,147,1) 100%);
}


article {
	text-align:center;
	margin-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	border-top: 1px solid #049c78;
	border-bottom: 1px solid #049c78;
	border-radius: 10px;
}

p {
	text-align: justify;
}

img {
	margin:10px;
	border: solid 2px;
	border-color: black;	
}

h2 {
	font-family:'MenuFont';
	box-shadow: 0 0 2px #000000;
	text-align:left;
	font-size: 32px;
	letter-spacing: 3px;
	text-indent: 30px;
	background: linear-gradient(0deg, rgba(103,255,170,1) 0%, rgba(2,237,181,1) 100%);
	border-radius: 10px;
}

h3 {
	font-family:'MenuFont';
	text-align:left;
	text-indent:70px;
	box-shadow: 0 0 2px #000000;
	width: 350px;
	background: linear-gradient(0deg, rgba(103,255,170,1) 0%, rgba(2,237,181,1) 100%);
	border-radius:10px;
}

address {
	height:60px;
	text-align: center;
	font: normal 11px;
	padding-top: 1em;
}

