iframe {
	box-shadow:inset #000000 ;
	border-radius: 0em;
}
#indexHope{
	float:right;
	height:25%;
	width:25%;
}

audio{
	border-radius: 30px;
	box-shadow: 0 0 5px #000000;
}

video {
	border: 5px solid rgb(61, 61, 61);
	box-shadow: 0 0 5px #000000;
}